* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff0c4;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-height: 54%;
  background: #5d0b0b;
  border-radius: 1.2rem;
  padding: 2rem;
}
.form {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.form-title {
  font-size: 3rem;
  text-align: center;
  color: #fff0c4;
  margin-bottom: 1.5rem;
}
.mb-10 {
  margin-top: 8rem;
}
.label-form {
  font-size: 1.6rem;
  color: #fff0c4;
  margin-bottom: 0.5rem;
  text-align: center;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
}

.buttom-form {
  font-size: 1.4rem;
  border-radius: 40px;
  width: 160px;
  padding: 0.8rem;
  border: none;
  background-color: #fff0c4;
  font-weight: bold;
  color: #5d0b0b;
}

.buttom-form:hover {
  cursor: pointer;
  opacity: 0.9;
}

.popup-container {
  position: fixed;
  top: 20px; /* fora da tela */
  left: 100%;
  z-index: 1000;
}

.popup-container.show {
  left: 84%;
  animation: slideDown 0.6s ease-out forwards;
}

.popup {
  background-color: #5d0b0b;
  width: 300px;
  color: #fff;
  padding: 2rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
