* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0c4;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18rem;
}

.image-box {
  display: flex;
  opacity: 85%;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 32rem;
  padding: 2rem;
  background: #b68565;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#logo {
  width: 100%;
  padding: 1rem;
}

.login-container {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background: #5d0b0b;
  border-radius: 1.2rem;
}

.form {
  margin-top: 2rem;
  width: 60%;
  padding: 3rem;
}

.form-title {
  font-size: 4rem;
  text-align: center;
  color: #fff0c4;
  margin-bottom: 16px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.label-form {
  font-size: 24px;
  font-weight: bold;
  font-weight: 500;
  color: #fff0c4;
  text-transform: uppercase;
}

.form-input {
  border-radius: 1rem;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.bottom-container a {
  color: #fff0c4;
  text-decoration: none;
  font-size: 24px;
}

.form-button {
  width: 10rem;
  padding: 0.8rem;
  border-radius: 4rem;
  background-color: #fff0c4;
  color: #5d0b0b;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: #5d0b0b;
}

.signup-container {
  margin-top: 2rem;
  text-align: center;
  color: #fff0c4;
  font-size: 24px;
}

.signup-container a {
  color: #ffff;
  margin-top: 2rem;
  margin-left: 1px;
}
