body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3e3b8;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    
}

.login-container {
    text-align: center;
}

.perfil-lista {
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.perfil-card {
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    border: 3px solid #7a0c0c;
    background: #f8ebc6;
    cursor: pointer;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
    width: 250px; /* precisa definir largura */
}

.perfil-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
